<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>本の番号入力</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
    .completed {
        text-decoration: line-through;
        color: gray;
    }
  </style>
</head>
<body>
<h1>本の番号入力</h1>
<form th:action="@{/book/search}" method = "get">
  <tr>
    <td>本の番号</td><td><input type="number" name = "bookNo"></td>
  </tr>
</form>
</body>
</html>
